doctype html
html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet")
  title quotes API
body(style="font-family: 'Roboto'; padding: 15px;")
  h1 Cytaty API

